<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>DemoApp</display-name>
	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>com.rajan.rai.AddSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>com.rajan.rai.SqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pqr</servlet-name>
		<servlet-class>com.rajan.rai.MyServlet</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>Aman</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>pqr</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>name</param-name>
		<param-value>Rajan</param-value>
	</context-param>

	<context-param>
		<param-name>phone</param-name>
		<param-value>iPhone</param-value>
	</context-param>
</web-app>